.team-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.team-header {
  width: 100%;
  height: 125px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.team-navlink {
  display: contents;
}
.team-text {
  font-style: normal;
  font-family: Nunito;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}
.team-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.team-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.team-text01 {
  text-decoration: none;
}
.team-text02 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-text03 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-text04 {
  margin-left: var(--dl-space-space-twounits);
}
.team-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.team-burger-menu {
  display: none;
}
.team-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.team-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.team-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.team-image {
  height: 2rem;
}
.team-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.team-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.team-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: 232323;
}
.team-container3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team-text05 {
  color: var(--dl-color-gray-white);
}
.team-text08 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
.team-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.team-container5 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.team-image1 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.team-text10 {
  margin-left: 0px;
}
.team-text11 {
  margin-left: var(--dl-space-space-unit);
}
.team-text12 {
  margin-left: var(--dl-space-space-unit);
}
.team-text13 {
  margin-left: var(--dl-space-space-unit);
}
.team-text14 {
  margin-left: var(--dl-space-space-unit);
}
.team-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.team-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .team-icon06 {
    display: flex;
  }
  .team-text05 {
    text-align: center;
  }
  .team-text08 {
    text-align: center;
  }
  .team-container4 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 767px) {
  .team-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .team-text01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .team-container3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-image1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-text15 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .team-header {
    padding: var(--dl-space-space-unit);
  }
  .team-icon-group {
    display: none;
  }
  .team-mobile-menu {
    padding: 16px;
  }
  .team-container3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .team-footer {
    padding: var(--dl-space-space-unit);
  }
  .team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-text15 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
